.formWrapper {
   .header {
      position: relative;
      padding-bottom: 1rem;
   }

   .small {
      font-size: 1.2rem;
      color: var(--palette-gray-7);
   }

   .formData {
      padding-top: 2rem;
      padding-right: 5rem;
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 1.5rem;
   }

   .signUpOptions {
      padding: 1.2rem 0;
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      justify-content: left;
      grid-gap: 1.4rem;

      .line {
         background: var(--palette-primary-darker);
         height: .2rem;
         width: 4.5rem;
      }

      .otherOptions {
         color: var(--palette-primary-darker);
         cursor: pointer;
      }
   }

   .thirdPartyBtn {
      display: grid;
      grid-template-columns: max-content max-content;
      grid-gap: 1rem;

      span {
         font-size: 1.1rem;
      }
   }

   .signupBtn {
      padding-top: 3rem;
      display: grid;
      justify-content: left;
      grid-auto-flow: column;
      align-items: center;
      gap: 3rem;
   }
}

.banner {
   .slider {
      display: grid;
      align-items: center;
      grid-gap: 2.5rem;
   }

   .footer {
      display: grid;
      text-align: center;
      grid-gap: 1rem;
      justify-items: center;

      h4 {
         text-align: center;
      }

      span {
         font-size: .9rem;
         text-align: center;
         width: 27rem;
      }
   }

   .dots {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1rem;
      justify-content: center;
      padding-top: 5rem;

      .active {
         width: 1.1rem;
         height: .4rem;
         border-radius: .5rem;
         background: var(--palette-primary-darker);
      }

      .circle {
         width: .4rem;
         height: .4rem;
         border-radius: 50%;
         background: var(--border);
         cursor: pointer;
      }
   }
}

.login {
   padding-top: 3rem;
}


.modal {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 3rem 5.5rem 3.4rem;
   @media screen and (min-width: 600px) and (max-width: 900px) {
      padding: 3.5rem;
   }
}
.wrapper {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 100vh;
   &::before {
      background-image: url("../../../public/images/bg1blur.webp");
      width: 100%;
      height: 100%;
      z-index: 1;
      content: "";
      opacity: 0.24;
      position: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   }
}
